img {
    height: 200px;    
}

p {
    background-color: bisque;
    overflow: hidden;
    text-align: justify;
}

#img1 {
    float: left;
    margin-right: 10px;
}

#img2 {
    float: right;
    margin-left: 10px;
}