div {
    height: 100px;
    width: 100px;    
}

#div1 {
    background-color: blue;
    position: relative;
    right: 20px;
    top: 300px;
}

#div2 {
    background-color: yellow;
    
}