body {
    background-color: red;
    height: 3000px;
}

div {
    height: 100px;
    width: 100px;
    display: inline-block;
}

#div1 {
    background-color: blue;    
}

#div2 {
    background-color: yellow;
    position: fixed;
    right: 50px;
    left: 50px;
    top: 50px;
    bottom: 50px;
}