body {
    padding: 0;
    margin: 0;
}

div.conteiner {
    width: 80vw;
    height: 100%;    
    margin: 0 auto;
}

main {    
    height: 100px;
    background-color: gray;    
}

nav {    
    height: 50px;
    background-color: black;    
}

div.bloco {
    height: calc(100vh - 200px);
    background-color: cornsilk;
}

aside {
    display: inline-block;
    width: 150px;
}

section {
    height: 100%;
    width: calc(100% - 300px);
    background-color: white;
    display: inline-block;
}

footer {
    background-color: cadetblue;
    height: 50px;
}